<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sleep_project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sleep_Project">
        <service
            android:name=".UI_2_MaintimertabRing"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".UI_2_MaintimertabReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UI_1_1_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI_1_3_login_activity"/>
        <activity android:name=".UI_2_1_Maintimertab"/>
        <activity android:name=".UI_3_Musictab"/>
        <activity android:name=".UI_4_Statisticstab"/>
        <activity android:name=".UI_5_AccountTab"/>
        <activity android:name=".UI_2_2_Lock_activity"/>
        <activity android:name=".UI_2_2_Maintimertabqna"/>
        <activity
            android:name=".UI_6_Alarm_Settings_activity"
            android:label="@string/title_activity_u_i_6__alarm__settings_activity" />
        <activity
            android:name=".UI_6_Settings_activity"
            android:label="@string/title_activity_u_i_6__settings_activity" />
    </application>
</manifest>